<style>
.ta_wjq {
    display: none !important;
}
#sxts {
  display: none;
}
.gml img:first-child{display:none}.menu img:first-child{display:inline-block;margin-top:3px}
#buexit {
  display: none;
}
span[style="font-size: 9pt"] {
  display: none;
}
body {
  background-image: url("你的图片地址");
  background-size: cover;
}
#dzx,#ysmenu1,#lyz{background:transparent important;opacity:.65;}
#idzdy1 {
    display: none !important;
}
/* 白色滚动条 */
body {
  scrollbar-width: thin;
  scrollbar-color: #fff #ccc;
}

/* 滚动条轨道 */
body::-webkit-scrollbar-track {
  background-color: #ccc;
}

/* 滚动条滑块 */
body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

#nr {background:url(你的图片地址) center center no-repeat #f5f5f5;}
*{!important;font-size:10.40pt;font-weight:bold;}

.lyhf{color:#b6ff00!important}.
lyk div label:nth-child(2){display:none}
#lynr div:first-child .lynr,#lynr div:first-child 
.lynr div{color:inherit;animation:change 2s linear 0s infinite}
#lynr div:first-child div label{display:none}
#lynr div:first-child>div:last-child:before{content:'1967年12月21日';color:#999!important}@keyframes change{1%{color:#ff0}50%{color:#0ff}100%{color:#0f0}}


  </style>